# Theming
theme = dark: Spiderman Dark, light: Spiderman Light

# Fonts (with fallback)
font-family = Ioskeley Mono
font-family = SF Mono
font-family = JetBrains Mono
font-family = Maple Mono Normal

cursor-style = bar
background-opacity = 0.8
background-blur = 60
background-opacity-cells = true

shell-integration-features = no-cursor
