wallpaper {
    monitor = DP-2
    path = {{ .chezmoi.homeDir }}/Pictures/Wallpapers/wallhaven-o525z9.jpg
}

wallpaper {
    monitor = HDMI-A-1
    path = {{ .chezmoi.homeDir }}/Pictures/Wallpapers/wallhaven-o525z9.jpg
}
